@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

$BrightBlue: hsl(220, 98%, 61%);
$CheckBackground: linear-gradient(
  -45deg,
  hsl(192, 100%, 67%),
  hsl(280, 87%, 65%)
);
.light {
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);

  --textColor: var(--VeryDarkGrayishBlue);
  --inputBg: var(--VeryLightGray);
  --controlColor: var(--DarkGrayishBlue);
  --borderColor: var(--LightGrayishBlue);
}

.dark {
  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue: hsl(234, 39%, 85%);
  --LightGrayishBlue: hsl(236, 33%, 92%);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue: hsl(237, 14%, 26%);

  --textColor: var(--LightGrayishBlue);
  --inputBg: var(--VeryDarkDesaturatedBlue);
  --controlColor: var(--DarkGrayishBlue);
  --borderColor: var(--VeryDarkGrayishBlue);
}
$input-height: 3.8em;

@keyframes smoothIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// @mixin listoutput {
//   height: 100%;
//   width: $input-height;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;

//   input[type="checkbox"] {
//     appearance: none;
//     height: 1em;
//     width: 1em;
//     z-index: 4;
//     cursor: pointer;
//   }

//   .tick {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 2;
//   }

//   label {
//     position: absolute;
//     top: 50%;
//     transform: translate(0, -50%);
//     z-index: 2;
//     height: 1.4em;
//     width: 1.4em;
//     padding: 0.5em;
//     border-radius: 50%;
//     border: solid 1px var(--borderColor);
//     background-color: var(--inputBg);
// }

.todo {
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;

  img {
    width: 100vw;
    object-fit: cover;
  }

  .container {
    position: relative;
    // inset: 0;
    // top: -12%;
    margin-top: -12em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    width: clamp(30em, 30em + 10vw, 40vw);
    font-size: 1rem;
    height: fit-content;

    .info {
      margin: 3em 0;
      color: var(--DarkGrayishBlue);
      font-size: 0.8rem;
    }

    .header {
      display: flex;
      align-items: center;
      height: fit-content;
      width: 100%;

      h1 {
        font-size: 1.5rem;
        font-weight: 700;
        color: hsl(0, 0%, 98%);
      }

      .icon {
        margin-left: auto;
        height: 1.5em;
        width: 1.5em;
        svg {
          cursor: pointer;
        }
      }
    }

    .inputbox {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $input-height;
      width: 100%;
      margin: 1.5em 0 0.5em 0;
      isolation: isolate;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      border-radius: 0.25em;
      background-color: var(--inputBg);
      padding: 0 0.5em 0 0.5em;

      input[type="text"] {
        width: 100%;
        height: 100%;
        text-indent: 3%;
        outline: none;
        border: none;
        font-size: 1rem;
        caret-color: #5960d3;
        color: var(--textColor);
        background-color: transparent;
      }

      .checkbox {
        position: relative;
        height: 3em;
        width: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;

        input[type="checkbox"] {
          appearance: none;
          height: 1em;
          width: 1em;
          z-index: 3;
          cursor: pointer;
        }

        label {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          z-index: 2;
          height: 1.4em;
          width: 1.4em;
          padding: 0.5em 0.5em;
          border-radius: 50%;
          border: solid 1px var(--borderColor);
          background-color: var(--inputBg);

          &::before {
            position: absolute;
            right: 30%;
            top: 25%;
            content: "";
            height: 9px;
            width: 2px;
            border-radius: 100px;
            background-color: transparent;
            transform: rotate(45deg);
          }

          &::after {
            position: absolute;
            top: 49%;
            left: 32%;
            content: "";
            height: 5px;
            width: 2px;
            border-radius: 100px;
            background-color: transparent;
            transform: rotate(-45deg);
          }
        }

        .hoverstate {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 1.5em;
          width: 1.5em;
          transition: all 0.3s;
          background-image: $CheckBackground;
          border-radius: 50%;
          z-index: 1;

          display: none;
        }

        input[type="checkbox"]:checked ~ label {
          border: 0;
          background-image: $CheckBackground;
          // &::after,&::before{
          //   background-color: white;
          // }
        }

        input[type="checkbox"]:hover ~ label {
          border: 0;
        }

        input[type="checkbox"]:checked ~ .hoverstate {
          display: none;
        }
        input[type="checkbox"]:hover ~ .hoverstate {
          display: block;
        }
      }
    }

    .output {
      margin-top: 1em;
      width: 100%;
      border-radius: 0.25em;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      position: relative;
      background-color: var(--inputBg);

      .out {
        max-height: 23.8em;
        overflow: hidden;

        .finished {
          text-decoration: line-through;
          color: var(--DarkGrayishBlue);
        }
        li {
          margin-left: 1em;
          color: var(--textColor);
          font-weight: 400;
          transition: all 0.3s;
          cursor: pointer;
          font-size: 1rem;
        }

        .todoitem {
          margin: 0.1em 0;
          height: $input-height;
          border-bottom: solid 1px var(--borderColor);
          display: flex;
          align-items: center;
          font-size: 1rem;
          animation: smoothIn 1s;

          .check {
            height: 100%;
            width: $input-height;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            input[type="checkbox"] {
              appearance: none;
              height: 1em;
              width: 1em;
              z-index: 4;
              cursor: pointer;
            }

            .tick {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 2;
            }

            label {
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              z-index: 2;
              height: 1.4em;
              width: 1.4em;
              padding: 0.5em;
              border-radius: 50%;
              border: solid 1px var(--borderColor);
              background-color: var(--inputBg);

              // &::before {
              //   position: absolute;
              //   right: 30%;
              //   top: 25%;
              //   content: "";
              //   height: 9px;
              //   width: 2px;
              //   border-radius: 100px;
              //   background-color: transparent;
              //   transform: rotate(45deg);
              // }

              // &::after {
              //   position: absolute;
              //   top: 50%;
              //   left: 31%;
              //   content: "";
              //   height: 5px;
              //   width: 2px;
              //   border-radius: 100px;
              //   background-color: transparent;
              //   transform: rotate(-45deg);
              // }
            }

            .hoverstate {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 1.5em;
              width: 1.5em;
              transition: all 0.3s;
              background-image: $CheckBackground;
              border-radius: 50%;
              z-index: 1;
              display: none;
            }

            input[type="checkbox"]:hover ~ .hoverstate {
              display: block;
            }
            input[type="checkbox"]:checked ~ .hoverstate {
              display: none;
            }
            input[type="checkbox"]:checked ~ .tick {
              z-index: 3;
            }
            input[type="checkbox"]:checked ~ label {
              border: 0;
              background-image: $CheckBackground;
              // &::after,
              // &::before {
              //   background-color: white;
              // }
            }
            input[type="checkbox"]:hover ~ label {
              border: 0;
            }
          }

          span {
            margin-left: auto;
            margin-right: 1em;
            border: none;
            outline: none;
            cursor: pointer;
            position: relative;
            animation: smoothIn 1s;

            // padding: 0.5em;
            // &::before {
            //   position: absolute;
            //   content: "";
            //   inset: 0;
            //   height: 100%;
            //   width: 0.1em;
            //   background-color: hsl(236, 9%, 61%);
            //   transform: rotate(45deg);
            //   border-radius: 0.25em;
            // }
            // &::after {
            //   position: absolute;
            //   content: "";
            //   inset: 0;
            //   height: 100%;
            //   width: 0.1em;
            //   background-color: hsl(236, 9%, 61%);
            //   transform: rotate(-45deg);
            //   border-radius: 0.25em;
            // }
          }
        }

        // .completed {
        //   li {
        //     margin: 0.1em 0;
        //     height: $input-height;
        //     border-bottom: solid 1px var(--borderColor);
        //     display: flex;
        //     align-items: center;
        //     font-size: 1rem;
        //     animation: smoothIn 1s;

        //     .check {
        //       height: 100%;
        //       width: $input-height;
        //       display: flex;
        //       align-items: center;
        //       justify-content: center;
        //       position: relative;

        //       input[type="checkbox"] {
        //         appearance: none;
        //         height: 1em;
        //         width: 1em;
        //         z-index: 4;
        //         cursor: pointer;
        //       }

        //       .tick {
        //         position: absolute;
        //         top: 50%;
        //         left: 50%;
        //         transform: translate(-50%, -50%);
        //         z-index: 2;
        //       }

        //       label {
        //         position: absolute;
        //         top: 50%;
        //         transform: translate(0, -50%);
        //         z-index: 2;
        //         height: 1.4em;
        //         width: 1.4em;
        //         padding: 0.5em;
        //         border-radius: 50%;
        //         border: solid 1px var(--borderColor);
        //         background-color: var(--inputBg);
        //       }

        //       input[type="checkbox"]:checked ~ .tick {
        //         z-index: 3;
        //       }
        //       input[type="checkbox"]:checked ~ label {
        //         border: 0;
        //         background-image: $CheckBackground;
        //       }
        //     }
        //   }
        // }
      }

      .controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom-left-radius: 0.2em;
        border-bottom-right-radius: 0.2em;
        background-color: var(--inputBg);
        height: calc($input-height - 1em);
        padding: 0 1.5em;

        .left {
          flex: 1;
          p {
            font-size: 0.8rem;
            font-weight: 400;
            color: var(--controlColor);
          }
        }

        .center {
          flex: 1.5;
          text-align: center;
          button {
            outline: 0;
            border: 0;
            background-color: transparent;
            margin: 0 0.5em;
            font-weight: 700;
            color: var(--controlColor);
            cursor: pointer;
            transition: color 0.3s;

            &:is(:active, :hover) {
              color: $BrightBlue;
            }
          }
        }
        .right {
          flex: 1;
          text-align: right;
          button {
            outline: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            font-weight: 400;
            color: var(--controlColor);
            transition: color 0.3s;

            &:hover {
              color: $BrightBlue;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:650px) {
  .todo {
    img {
      min-height: 12em !important;
      max-height: 30vh;
    }

    .container {
      margin-top: -11em !important;
      width: 90vw !important;
      height: fit-content;

      .inputbox {
        height: 3.4em !important;
      }
    }

    .info {
      margin: 10em 0 2em 0 !important;
    }

    .header {
      margin-bottom: 0.5em;
      h1 {
        font-size: 1.8rem !important;
      }

      .icon {
        margin-left: auto;
        height: 1.5em;
        width: 1.5em;
        svg {
          cursor: pointer;
        }
      }
    }

    .controls {
      position: relative;
      height: 3.5em !important;

      .left {
        flex: 1;
      }
      .right {
        flex: 1;
        display: inline-flex;
        justify-content: flex-end;
      }

      .center {
        position: absolute;
        left: 0;
        bottom: -150%;
        height: 3.4em !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: var(--inputBg);
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
        border-radius: 0.25em;
      }
    }
  }
}
